footer {
  background-color: #000000e5;
  height: 321px;
  width: 100%;
  left: 0px;
  top: 198px;
  border-radius: 0px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 42px 0px 0px 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}
.footer-links1 .nav-link,
.footer-link2 .nav-link,
.footer-links3 .nav-link{
  color: #f3f3f3;
  padding: 16px;
  font-size: 14px;
}
.find-us-on p {
  padding: 0.5rem 1rem;
  color: #f3f3f3;
  /* margin-top: 42px; */
}
.find-us-on .iconsSocailMedia img {
  padding: 15px 15px;
}
.find-us-on {
  height: 182px;
}
.below-footer {
  margin-top: 32px;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  display: flex;
  justify-content: space-between;
}
.Below-footer-items-right {
  display: flex;
  justify-content: space-between;
  grid-gap: 14.8px;
}
.Below-footer-items-right p{
    margin-right: 9px;
}
.nav-link:hover{
  text-decoration: underline!important;

}
