.mainBody {
  justify-content: center;
  display: grid;
}
a {
  text-decoration: none !important;
}
img {
  object-fit: cover !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select:focus {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  
}
.dropdown-button:focus {
  border-color: rgba(0, 0, 0, 0.6) !important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-size: 12px;
  width: 15px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(../Asset/Cross.svg);
  cursor: pointer;
}
.letsSee {
  
  display: flex;
  flex-direction: column;
}
.form-check-input:focus{
  box-shadow: none !important;
}
