.open-roles-container {
	margin-top: 75px;
	flex-direction: column;
	margin-bottom: 101px;
	.open-roles {
		p {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			/* identical to box height */

			color: #000000;
		}
	}
	.list-roles {
		.roles-stack {
			.roles-decs {
				padding: 16px 32px;

				height: 106px;

				background: rgba(0, 0, 0, 0.05);
				border-radius: 4px;
				display: flex;
				justify-content: space-between;
				.role-dec-left {
					display: flex;
					flex-direction: column;
					gap: 16px;
					.role-heading {
						font-style: normal;
						font-weight: 500;
						font-size: 32px;
						line-height: 39px;
						/* identical to box height */

						color: #000000;
					}
					.small-desc-roles {
						display: flex;
						gap: 22px;
						p {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 19px;

							color: rgba(0, 0, 0, 0.6);
						}
					}
				}
				.apply-now-roles {
					display: flex;
					align-items: center;
					button {
						padding: 16px 24px;

						/* BLUE */
						height: 51px;
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 19px;

						color: #ffffff;
						vertical-align: baseline;
						background: #0071e2;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
