@media (max-width: 349px) {
    .container {
        .search-nav {
          .searchBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 16px 10px 50px;
            gap: 8px;
  
            width: 90vw;
            height: 37px;
  
            background-color: rgba(0, 0, 0, 0.05) !important;
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
  
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    .Conrainer-for-filter-sec{
        .clear-all-btn{
            .clear{
                // content: ;
            }
        }
    }
}

@media (min-width: 350px) and (max-width: 425px) {
    .container {
        .search-nav {
          .searchBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 16px 10px 50px;
            gap: 8px;
  
            width: 90vw;
            height: 37px;
  
            background-color: rgba(0, 0, 0, 0.05) !important;
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
  
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    .Conrainer-for-filter-sec{

    }
}

@media (min-width: 426px) and (max-width: 993px) {
    .container {
        .search-nav {
          .searchBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 16px 10px 50px;
            gap: 8px;
  
            width: 90vw;
            height: 37px;
  
            background-color: rgba(0, 0, 0, 0.05) !important;
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
  
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    .Conrainer-for-filter-sec{

    }
}