.filter-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .flex-container {
    flex: 1;
    width: 100%;
  .clear-all {
    border-radius: 0px;
    padding: 10px 0px 10px 16px;
    a {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      color: rgba(0, 0, 0, 0.6);

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }
    a:hover{
      color: rgba(0, 0, 0, 0.9);
    }
  }
  .flex-container {
    display: flex;
    gap: 6px;
  }
  button {
    width: auto;
    height: 36px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    background-size: 12.98px;
    background-position-x: 90%;
    background-position-y: 13.5px;
    z-index: 97;
    border-radius: 100px;
    line-height: auto;
    img {
      margin-left: 6px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
  }

  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-button a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  }}