:root{
    --bs-body-line-height: 0 !important;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1090px;
    display: flex;
  }
  .navbtnRight {
    float: right;
  }
  .navbar-brand {
    margin-right: 18px;
  }
  .navbar-expand-lg .navbar-nav .freeadsbtn {
    padding: 0px 16px;

  }
  .navbar-expand-lg .navbar-nav  {
    padding: 0% !important;
  
  }
  .navbar-expand-lg .navbar-nav {
    grid-gap: 24px;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding: 0% !important;
  }
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  padding: 0%;
}
.navbar-collapse {
  flex-grow: 0;
  
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1090px !important;
  display: flex;
}