@media (min-width: 994px) and (max-width: 1399px) {
  .container {
    padding: 0px !important;
  }
  .navBar {
    .user-nav-sec {
      padding: 0px 32px !important;
    }
    .nav-footer-container {
      padding: 0px 32px !important;
    }
    .upper-nav-sec {
      padding: 0px 32px !important;

      .navbar-collapse {
        width: 100%;
        .navbar-nav {
          width: 100%;
          gap: 2%;
          justify-content: flex-end;
        }
      }
    }
    #basic-navbar-nav {
      gap: 0;
      justify-content: space-between;
    }
  }
  .navbar-collapse {
    width: 100%;
    .navbar-nav {
      width: 100%;
      gap: 2%;
      justify-content: flex-end;
    }
  }
  .sort-container {
    padding: 0% 32px;
  }
  .Conrainer-for-filter-sec {
    padding: 0% 32px !important;
  }
  .breadCrumb-for-pages {
    margin-left: 16px;
  }
  .breadCrumb-for-pages,
  .breadCrumb-PD {
    margin-left: 32px;
  }
  .profile-container,
  .product-image-crosule,
  .user-sec-main,
  .help-nav,
  .help-landing-page {
    padding: 0px 32px !important;
  }
  .tab-content {
    width: 75%;
  }
  .var-queries {
    width: 100% !important;
  }

  .sort-container,
  .simle-margin-top {
    padding: 0px 32px;
    .container {
      .row {
        gap: 25px 2.5%;
        .card {
          width: 31.6% !important;
          overflow: hidden;
          a {
            .card-body {
              .lower-text {
                .card-space {
                  width: 226px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .similar-Ads {
    padding: 0px 32px;

    .container {
      padding: 0% !important;
      .row {
        gap: 25px 2.5%;
        .card {
          width: 31.6% !important;
          overflow: hidden;
          a {
            .card-body {
              .lower-text {
                .card-space {
                  width: 226px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .Main-profile {
    padding: 0% 32px;

    .row {
      gap: 25px 2.5%;
      .card {
        width: 31.6% !important;
        overflow: hidden;
        a {
          .card-body {
            .lower-text {
              .card-space {
                width: 226px !important;
              }
            }
          }
        }
      }
    }
  }
  .des-product-section {
    padding: 0px 32px;
    .details-comments {
      .details-product {
        width: 100% !important;
        .m-4 {
        }
      }
      .des-comment-sec {
        width: 100% !important;
        .header-comment-des {
          width: 100% !important;
        }
      }
    }
  }

  .user-sec-main {
    padding: 0px 32px;

    .basic-info {
      width: 78% !important;
    }
  }
  .help-nav-center {
    .fix-help-nav {
      .container {
        padding: 0% !important;
        .help-nav-fix {
          width: 100%;
          .help-nav {
            width: 100%;
          }
        }
      }
    }
  }

  .comment-description {
    width: 90% !important;
  }
  .comment-input {
    input {
      width: 100% !important;
    }
  }
  .product-image-carousel {
    padding: 0% 32px !important;
  }
  footer {
    padding: 0% 32px;

    .footer-container {
      .logo {
      }
    }
  }
}
@media (min-width: 994px) and (max-width: 1089px) {
}
