@media (min-width: 994px) and (max-width: 1090px) {
  .container {
    padding: 0px 16px !important;
  }
  .navBar {
    .upper-nav-sec {
      padding: 0px 16px;
    }
    .navbar-collapse {
      gap: 0;
      justify-content: space-evenly;
    }
  }
  .Conrainer-for-filter-sec {
    padding: 0px 32px !important;
  }
  .breadCrumb-for-pages {
    margin-left: 16px;
  }
  .sort-container,
  .simle-margin-top {
    .container {
      .row {
        gap: 25px 2.5%;
        .card {
          width: 31.6% !important;
          overflow: hidden;
          a {
            .card-body {
              .lower-text {
                .card-space {
                  width: 226px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .similar-Ads {
    .container {
      padding: 0% !important;
      .row {
        gap: 25px 2.5%;
        .card {
          width: 31.6% !important;
          overflow: hidden;
          a {
            .card-body {
              .lower-text {
                .card-space {
                  width: 226px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .Main-profile {
    .row {
      gap: 25px 2.5%;
      .card {
        width: 31.6% !important;
        overflow: hidden;
        a {
          .card-body {
            .lower-text {
              .card-space {
                width: 226px !important;
              }
            }
          }
        }
      }
    }
  }
  .des-product-section {
    .details-comments {
      .details-product {
        width: 100% !important;
        .m-4 {
        }
      }
      .des-comment-sec {
        width: 100% !important;
        .header-comment-des {
          width: 100% !important;
        }
      }
    }
  }

  .user-sec-main {
    .basic-info {
      width: 78% !important;
    }
  }
  .help-nav-center {
    .fix-help-nav {
      .container {
        padding: 0% !important;
        .help-nav-fix {
          width: 100%;
          .help-nav {
            width: 100%;
          }
        }
      }
    }
  }

  footer {
    .footer-container {
      .logo {
        padding-left: 16px;
      }
    }
  }
}
